@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background: -moz-linear-gradient(to bottom,#051637,#1c2c52 50%,#F5c658b); 
	background: -webkit-linear-gradient(to bottom,#051637,#1c2c52 50%,#5c658b); 
	background: linear-gradient(to bottom,#051637,#1c2c52 50%,#5c658b); 
	font-family: 'Lato', sans-serif;
	color: #000;
}

header {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 5em;
	font-family: 'Anton', sans-serif;
	color: #fff;
}
